:root {
  --white: #FFFFFF;
  --dark-gray: #1E1E1E;
  --medium-dark-gray: #2A3731;
  --medium-gray: #5A766A;
  --light-gray: #77978A;
  --light-green: #F4FEFA;
  --red: #FF4B37;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hero_section {
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url("assets/images/background-image.png");
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
}

.hero_section .hero_container {
  text-align: center;
  max-width: 50vw;
  margin: 0 auto;
}

.hero_container .content {
  padding: 5em;
  color: var(--white);
  font-size: 1.5rem;
}

.content hr {
  margin: 1em auto;
  border: 4px solid var(--medium-gray);
  width: 5em;
}

.content .hero_description {
  font-size: 1.3rem;
  margin: 1em 0;
}

.content a {
  text-decoration: none;
  padding: 1.5em 3em;
  border-radius: 5px;
  background-color: var(--medium-gray);
  color: var(--white);
  font-weight: bold;
  font-size: 0.8rem;
}

.content button:hover {
  cursor: pointer;
}