:root {
  --white: #FFFFFF;
  --dark-gray: #1E1E1E;
  --medium-dark-gray: #2A3731;
  --medium-gray: #5A766A;
  --light-gray: #77978A;
  --light-green: #F4FEFA;
  --red: #FF4B37;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hero_section {
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url("assets/images/background-image.png");
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
}

.hero_section .hero_container {
  text-align: center;
  max-width: 100vw;
  margin: 0 auto;
}

.hero_container .content {
  padding: 5em;
  color: var(--white);
  font-size: 1.5rem;
}

.content hr {
  margin: 1em auto;
  border: 4px solid var(--medium-gray);
  width: 5em;
}

.content .hero_description {
  font-size: 1.3rem;
}

.content button {
  margin: 2em 0;
  padding: 1.5em 3em;
  border-radius: 5px;
  background-color: var(--medium-gray);
  color: var(--white);
  font-weight: bold;
  font-size: 0.8rem;
  outline: none;
  border: 0;
}

.content button:hover {
  cursor: pointer;
}

/* start of section two css */

.section-two{

  display: grid;
  grid-template: 1fr 2fr  / 1fr 1fr;
  gap:1rem;
  font-family: "Roboto", sans-serif;
  padding: 2rem;
  color:snow;

}

 

 
.scrimba-way{
  margin:auto;
  grid-column: span 2;
  color:black
  
}
.learn-fast{
  background-image:url("./assets/images/homepage/data-8380806_1280.jpg");
  background-size: cover;
  grid-row: span 2;
  padding: 3rem;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;

}
.get-help{
  background-image:url("./assets/images/homepage/data-8380807_1280.jpg");
  padding: 3rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;

 

}
.hack-first{
background-image: url("./assets/images/homepage/digital-1742687_1280.jpg");
padding: 3rem;
border-radius: 20px;
background-color: rgba(0, 0, 0, 0.2);
background-blend-mode: overlay;


}



/* end of section two css */

